.nav_container {
    width:100%;
    height:100%;
    border: 2px solid red;
    background-color: lightgray;
   
}

.nav_container .nav_item{
    color:white !important;
}

.nav_container .login {
    /* background-color: red; */
    list-style: none;
    cursor: pointer;
}